 /*Connect fonts*/

 @font-face {
  font-family: "PTSans";
  src: local("PTSans"), url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}



    /*Variables*/

:root{
  --basic-black: #000000;
  --opacity-black: rgba(0,0,0,0.3);
  --basic-white: #ffffff;
  --opacity-white: rgba(255,255,255,0.3);
  --main-color: #81B3D2;
  --main-background: #F2F2F2;
  --main-color_hover: #669EC0;
  --main-color_active: #5496BD;
  --dark-description: #333333;
  --light-description-background: #eeeeee;
  --basic-dark: #766357;
  --bacic-dark_hover: #604E43;
  --basic-dark_active: #503E33;
  --button-plus-minus: #A9A9A9;
  --button-up-down: #CACACA;
  --hover-field: #EBEBEB;
  --focus-field: #E5E5E5;
  --dark_disabled: #6A6A6A;
  --dark-rating: #666666;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

    /*Global*/
.page {
  height: 100%;
}

.page-body{
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: var(--main-background);
  color: var(--dark-description);
  min-height: 100%;
}

.page-body a{
  text-decoration: none;
}

.page-body img{
  max-width: 100%;
  max-height: 100%;
}


.page-container{
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--basic-white);
}

    /*header*/

.main-header {
  position: relative;
  min-height: 56px;

}

.main-navigation{
  display:grid;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;

}

.main-logo {
  position:absolute;
  left: 50%;
  transform: translateX(-50%)
}

.site-navigation{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 73px;
}

.site-navigation__info,
.site-navigation__photo,
.site-navigation__map,
.site-navigation__hotel {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 228px;
}

.site-navigation__info,
.site-navigation__photo {
  text-align: left;
}

.site-navigation__map,
.site-navigation__hotel {
  text-align: right;
}

.site-navigation__map {
  margin-left: auto;
}
.site-navigation a:not([href]) {
  color: var(--basic-dark);
}

.site-navigation a{
  color: var(--basic-black)
}

.site-navigation a:hover{
  color: var(--main-color);
}

.site-navigation a:focus{
  color: var(--opacity-black);
}


    /*Main-description*/

.main-container{
  text-align: center;
}

.welcome-wrapper{
  width: 100%;
  min-height: 508px;
  padding-top: 76px;
  padding-bottom: 0;
  background: url('../img/cutter.svg') no-repeat 0 451px, url("../img/background_photo.jpg") no-repeat ;
  background-color: var(--main-color);
  box-sizing: border-box;
}

.welcome-image {
  display: block;
  margin: auto;

}

.main-titel{
  margin: 0;
  margin-bottom: 57px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  box-sizing: border-box;
}

.main-subtitel {
  margin:0;
  margin-bottom: 59px;
}

.main-decription h2{
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}



    /*Features*/

.features__list{
  display: grid;
  /*grid-template-rows: 256px 300px 256px 256px;*/
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

    /*TRUE CITY*/
.features__item_advanced{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/-1;
  background-color: var(--main-color);
  align-items: center;
}


.features__description_advanced{
grid-column: 1/2;
}

.features__image{
grid-column: 2/-1;
line-height: 0;
}

.features__image-bridge{
  line-height: 0;
}




    /*БЛОК РЕКОМЕНДАЦИИ*/

.recomendation__description{
  height: 330px;
  padding-top: 160px;
  box-sizing: border-box;
}

.recomendation__title{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  margin:0;
  padding-top: 0px;
}

.recomendation__hotel{
  grid-column: 1/2;
  background: url(../img/accommodation-icon.svg) ;
  background-repeat: no-repeat;
  background-position: 50% 60px;
  box-sizing: border-box;
}

.recomendation__food{
  grid-column: 2/3;
  background: url(../img/food-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 60px;
  box-sizing: border-box;
}

.recomendation__souvenir{
  grid-column: 3/4;
  background: url(../img/souvenirs-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 60px;
  box-sizing: border-box;
}

/* МОСТ*/
.features__image-bridge {
  grid-column: 1/3;
}

.features__description-bridge {
  grid-column: 3/4;
}

/*БЛОК ПЛОЩАДЬ-ДОРОГА-ТУРИСТЫ*/


.features__item-area,
.features__item-road,
.features__item-tourist {
  min-height: 256px;
  box-sizing: border-box;
  background-color: var(--light-description-background);
}


.features__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  margin:0;
  padding-top: 50px;
}

.features__number {
  padding-top: 33px;
  margin: 0;
}

.features__text {
  padding-top: 35px;
  margin: 0;
}

.features__title_advanced,
.features__number_advanced,
.features__text_advanced {
  color: var(--basic-white);
}





    /* Booking*/

.booking__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.booking__offer{
  line-height: 24px;
}




    /*Form*/

.search-form {
  margin: 0 auto;
  width: 568px;
  position: relative;
}

.search-form-head {
  margin: 0;
  border: none;
  width: inherit;
  text-align: center;
  display: block;
  padding: 30px 88px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  text-transform: uppercase;
  font-weight: 700;
}

.form-input-blocks {
  position: absolute;
  background-color: var(--basic-white);
  box-sizing: border-box;
  padding: 55px 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.form-input-block {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form-label {
  font-weight: bold;
  color: var(--basic-black);
  display: inline-block;
  margin-top: 6px;
  width: 120px;
  margin-right: 17px;
}

.form-input {
  width: 365px;
  border: none;
  background-color: var(--main-background);
  font-weight: bold;
  padding: 11px 45px 10px 13px;
  text-transform: uppercase;
}

.form-date-input {
  position: absolute;
  right: 8px;
  top: 6px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.amount-people {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.amount-people-block {
  display: flex;
  width: 225px;
  justify-content: flex-end;
}

.amount-people-block:nth-child(2) {
  width: 180px
}

.form-input-num {
  width: 38px;
  padding: 10px 0;
  text-align: center;
}


.amount-people-button {
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  background-color:var(--main-background);
  position: relative;
}

.input-button-minus::after,
.input-button-plus::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 13px;
  background-color: var(--button-plus-minus);
  top: 18px;
  left: 12px
}

.input-button-plus::before {
  content: '';
  display: block;
  position: absolute;
  height: 13px;
  width: 3px;
  background-color: var(--button-plus-minus);
  top: 13px;
  left: 17px;
}


.amount-form-label {
  width: auto;
  margin-right: 40px;
}

.submit-form-button {
  padding: 16px 20px;
  border: none;
  background-color: var(--main-color);
  color: var(--basic-white);
  display: block;
  width: 100%;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
}

    /*КАРТА*/

.yamap {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 475px;
  background-color: blueviolet;
}



    /*FOOTER*/

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 111px;
  padding-right: 138px;

}

.visit {
  grid-column: 1fr;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  justify-self: left;
  align-self: center;

}

.visit a {
  color: var(--basic-black);
}

.visit__list{
  list-style: none;
  margin: 0;
  padding:0;
  text-align: center;

}


.social-networks {
  grid-column: 1fr;
  justify-self: center;
  align-self: center;

}

.social-networks__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  list-style: none;
  margin: 0;
  padding:0;
}

.social-networks__item{
  display: flex;
  background-color: transparent;
  position: relative;
  grid-column: 1fr;
}

.social-networks__link{
  display: flex;
  width: 46px;
  height: 48px;
  background-color: var(--main-color);
  justify-content: center;
  align-items: center;
}

.social-networks__link:hover{
  background-color: var(--main-color_hover);
}

.social-networks__link:active{
  color: var(--opacity-white);
  background-color: var(--main-color_active);
}

.social-networks__link path{
  fill: var(--basic-white);
}

.social-networks__link path:active{
  fill: var(--opacity-white);
}


.copyright {
  grid-column: 1fr;

}

.copyright__site{
  color: var(--basic-black);
  line-height: 26px;
  margin-right: 8px;
  align-self: center;
}

.copyright__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}



.copyright__link path,
.copyright__link rect{
  fill: var(--basic-black)
}

.copyright__link path:hover,
.copyright__link rect:hover{
  fill: var(--main-color_hover);
}

.copyright__link path:active,
.copyright__link rect:active{
  fill: var(--opacity-black);
}




















 /*CATALOG.HTML*/

.page-body_catalog{
  background-color: var(--basic-white);
}


 .main-catalog-container {
  text-align: left;
}

.hotels-filtr {
  background: url(../img/catalog-background.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-color);
  min-height: 217px;

}

.options,
.residence,
.price {
  display: block;
  border:none;
  color: var(--basic-white);
}

.options__title,
.residence__title,
.price__title  {
font-weight: bold;
font-size: 16px;
line-height: 21px;

}

.options__list,
.residence__list {
  list-style: none;
  padding: 0;
}

    /*checkboxes*/

.options__label {
  display: block;
  margin-bottom: 0.5em;
}

.options__label-check {
  padding-left: 2.5em;
}

.option__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.option__checkbox {
  position: absolute;
  margin-top: -0.1em;
  margin-left: -2.5em;
  width: 1.65em;
  height: 1.65em;
  background: url(../img/checkbox-off.svg);
}

.option__input:checked +.option__checkbox {
  background: url(../img/checkbox-on.svg);
}

.option__input:disabled +.option__checkbox {
  background: url(../img/dsbld_checkbox-off.svg);
}


    /*batton "show"*/

    .show-button {
      min-width: 137px;
      font-size: 14px;
      line-height: 21px;
      box-sizing: border-box;
      text-transform: inherit;
      border: 2px solid var(--basic-white);
      border-radius: 2px;
      background-color: transparent;
      color: var(--basic-white);
    }

    .show-button:hover {
      background-color: var(--basic-white);
      color: var(--basic-black);
    }

        /*Sorting*/

.sorting__result {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.sorting_method {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black)
}

.sorting__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.sorting__list a:not([href]) {
  color: var(--main-color);
  border: none;
}
.sorting__list a {
  color: var(--opacity-black);
  border-bottom: 1px dotted var(--main-color);
}

.sorting__list a:hover {
  color: var(--main-color);
  border-bottom: none;
}

.sorting__list a:active {
  color: var(--basic-black);
  border: none;
}




    /*Sorting buttons*/

.sorting-button path {
  fill: var(--opacity-black);
}

.sorting-button path:hover {
  fill: var(--basic-black);
}

.sorting-button path:active {
  fill: var(--main-color);
}







      /* Hotels List*/

.result__list{
  list-style: none;
}

.result__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.button-link{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

}

.button-link-detail {
  max-width: 110px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--main-color);
}

.button-link-detail:hover {
  background-color: var(--main-color_hover);
}

.button-link-detail:active {
  color: var(--opacity-basic-white);
  background-color: var(--main-color_active);
}

.button-link-detail:focus {
  outline: none;
}



.button-link-reservation{
  max-width: 142px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.button-link-reservation:hover {
  background-color: var(--bacic-dark_hover);
}

.button-link-reservation:active {
  color: var(--opacity-basic-white);
  background-color: var(--basic-dark_active);
}

.button-link-reservation:focus {
  outline: none;
}


.rating-value{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /*font-size: 14px;
  line-height: 21px;*/
  max-width: 110px;
  text-align: center;
  color: var(--dark-rating);
  background-color: var(--main-background);

}

.star__list{
  list-style: none;
}


.star__item {
  display: inline-block;
  background: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 5px;
 }
