 /*----------Connect fonts-----------*/

 @font-face {
  font-family: "PTSans";
  src: local("PTSans"), url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}




/*-----------Variables----------*/

:root{
  --basic-black: #000000;
  --opacity-black: rgba(0,0,0,0.3);
  --basic-white: #ffffff;
  --opacity-white: rgba(255,255,255,0.3);
  --main-color: #81B3D2;
  --main-background: #F2F2F2;
  --main-color_hover: #669EC0;
  --main-color_active: #5496BD;
  --dark-description: #333333;
  --light-description-background: #eeeeee;
  --basic-dark: #766357;
  --bacic-dark_hover: #604E43;
  --basic-dark_active: #503E33;
  --button-plus-minus: #A9A9A9;
  --button-up-down: #CACACA;
  --hover-field: #EBEBEB;
  --focus-field: #E5E5E5;
  --dark_disabled: #6A6A6A;
  --dark-rating: #666666;
  --light-gray: #BDBBBC;
  --toggle-shadow: #ababab;
}





/*--------VISUALLY HIDDEN----------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}




/*----------GLOBAL----------*/

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
}


/*.page-body img {
  max-width: 100%;
  height: auto;
}
*/

.page-container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  position:relative;
}




/*----------LOGO----------*/
.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/*----------MENU-----------*/
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0 73px;
  line-height: 26px;
  display:flex;
}

.site-navigation li{
  width: 227px;
  padding: 15px 0;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation__link  {
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation__link:hover {
  color: var(--main-color);
}

.site-navigation__link:active {
  color: rgba(0,0,0,0.3);
}



/*----------MAIN-DESCRIPTION----------*/
.welcome-wrapper {
  min-height: 509px;
  margin: 0 auto;
  padding-top: 76px;
  background-color: var(--main-color);
  box-sizing: border-box;
  background: url("../img/cutter.svg") no-repeat 50% 453px,
              url("../img/background_photo.jpg") no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.main-description__block {
  margin: 0;
  padding-top: 48px;
}
.main-description__title{
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 42px;
}

.main-description__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 56px;
}


/*----------FEATURES----------*/

/*---TRUE CITY---*/
.features {
  height: 100%;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-grid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.photoblock__description {

  min-height: 256px;
  padding-top: 46px;
  color: var(--basic-white);
  background-color: var(--main-color);
  box-sizing: border-box;
}

.photoblock__description-city {
  grid-column: 1/2;
}

.photoblock__title {
  padding: 0;
  margin:0 0 25px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.photoblock__number,
.attractions__number {
  margin:0 0 25px 0;
  padding: 0;
}

.photoblock__text {
  margin: 0;
  padding: 0;
}

.photoblock__image-city {
  grid-column: 2/4;
  line-height: 0;
}


/*---RECOMENDATIONS---*/


.recomendation {
  min-height: 330px;
  padding: 160px 0 0;
  box-sizing: border-box;
}

.recomendation__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 25px;
  padding: 0;
}

.recomendation__text,
.attractions__text {
  margin: 0;
  padding: 0;
}

.recomendation-accomodation {
  grid-column: 1/2;
  background: url("../img/accommodation-icon.svg") no-repeat 50% 60px;

}

.recomendation-food {
  grid-column: 2/3;
  background: url("../img/food-icon.svg") no-repeat 50% 60px;
}

.recomendation-souvenirs {
  grid-column: 3/4;
  background: url("../img/souvenirs-icon.svg") no-repeat 50% 60px;
}


/*---DIABLO BRIDGE---*/

.photoblock__image-bridge {
  grid-column: 1/3;
  line-height: 0;
}

.photoblock__description-bridge {
  grid-column: 3/4;
}


/*---ATTRACTIONS---*/

.attractions {
  min-height: 256px;
  padding: 50px 0 0;
  color: var(--dark-description);
  background-color: var(--light-description-background);
  box-sizing: border-box;
}

.attractions__title {
  font-weight: bold;
  font-size: 21px;
  color:  var(--basic-black);
  margin: 0 0 25px;
  padding: 0;
}


/*----------SEARCH----------*/

.booking {
  position: relative;
}


.search {
  margin: 0;
  padding: 60px 0 0;
}

.search__title {
font-weight: bold;
font-size: 30px;
line-height: 24px;
margin: 0 0 32px;
padding: 0;
}

.search__text {
  font-size: 14px;;
  line-height: 24px;
  color: var(--dark-description);
  margin: 0 0 42px;
  padding: 0;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  cursor: pointer;
}

.search-button {
  background-color: var(--basic-dark);
  width: 568px;
  padding: 0 6px;
  min-height: 86px;
}

.search-button:hover {
  background-color: var(--bacic-dark_hover);
}

.search-button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-dark_active);
}

/*---FORM---*/

.form-container {
  background-color: #5496BD;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 7px 15px 0px rgba(0,0,0,0.2);
}

.booking__form {
  width: 458px;
  padding: 55px;
  background-color: var(--basic-white);
}

.date-selection {
  display: flex;
  align-items: baseline;
  position: relative;
  margin: 0 0 29px 0;
}

.date-selection__label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  width: 120px;
}

.date-selection__input {
  border: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  height: 38px;
  width: 330px;
  padding: 0 15px;
  color: var(--basic-black);
  background-color: var(--main-background);
}

.date-selection__input::placeholder {
  color: var(--basic-black);
}

.calendar-icon {
  position: absolute;
  left: 93%;
  top: 7px;
}

.button_calendar {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  width:32px;
  height: 30px;
  left: 92%;
  top: 4px;
  background: url("../img/calendar-icon.svg")
              no-repeat transparent
              5px 3px;
}

.button_calendar:hover,
.button_calendar:focus {
  background-image: url("../img/calendar_blk.svg");
}

.button_calendar:active {
  background-image: url("../img/calendar_blu.svg");
}

.guests-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 54px;
}

.guests {
  display: flex;
  align-items: baseline;
  width: 50%;
}

.guests__label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

.plus-minus,
.guests-amount {
  border: 0;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--main-background);
  position: relative;
}

.plus-minus {
  color: var(--main-background);
}

.minus::after,
.plus::after {
  content: "";
  width: 13px;
  height: 3px;
  background-color: var(--button-plus-minus);
  position: absolute;
  top: 17px;
  left: 13px;
}

.plus::before {
  content: "";
  width: 3px;
  height: 13px;
  background-color: var(--button-plus-minus);
  position: absolute;
  top: 12px;
  left: 18px;
}

.minus:hover:after,
.minus:hover:before,
.plus:hover:before,
.minus:focus:after,
.minus:focus:before,
.plus:focus:before {
  background-color: var(--basic-black);
}

.minus:active:after,
.minus:active:before,
.plus:active:before {
  background-color: var(--main-color);
}

.adults {
  width: 113px;
}
.children {
  padding-left: 30px;
  width: 85px;
}

.find-button {
  width: 458px;
  min-height: 58px;
  padding: 0 12px;
  background-color: var(--main-color);
}

.find-button:hover {
  background-color: var(--main-color_hover);
}

.find-button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--main-color_active);
}

.yamap {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 595px;
}

.yamap_frame {
  border: none
}

/*-----------FOOTER----------*/

.main-footer {
  padding: 33px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.8);
}

.contact-wrapper,
.social,
.copyright {
  width: 33.333%;
}

.contact-wrapper {
  display: flex;
}

.contact {
  margin-left: 126px;
}

.contact a {
  text-decoration: none;
  color: var(--basic-black);
}

.contact__hashtag,
.contact__phone {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
}

.contact__hashtag {
  margin: 0 0 12px 0;
}


.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--main-color);
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--basic-black);

}

.social__link:hover {
  background-color: var(--main-color_hover);
}

.social__link:active {
  background-color: var(--main-color_active);
}

.social__link:active path {
  fill: rgba(255,255,255,0.3);
}

.social__twitter{
  padding-top: 16px;
}

.social__facebook{
  padding-top: 13px;
}

.social__youtube {
  padding-top: 16px;
  margin: 0
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright__text {
  margin: 0 8px 0 0;
  padding: 0;
}

.copyright__image {
  margin: 0 138px 0 0;
  padding: 0;
}

.htmla_logo-link:hover path {
  fill: var(--main-color_hover);
}

.htmla_logo-link:active path {
  fill: var(--light-gray);
}





/************************************************
************************************************

*******************CATALOG**********************

************************************************
***********************************************/


/*----------FORM FILTER-----------*/

.hotels-filtr {
  min-height: 217px;
  background: url("../img/catalog-background.jpg") no-repeat center;
  text-align: left;
  padding: 31px 73px;
  box-sizing: border-box;
  background-size: cover;
  background-color: var(--main-color);
}

.filter-form {
  display: flex;
  color: var(--basic-white);
}

.options,
.filter-item {
  border: none;
  padding: 0;
  margin: 0;
  width: 240px;
  box-sizing: border-box;
}

.infrastructure{
  margin-right: 15px;
}

.options__title,
.filter__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 23px;
}

.filter__title {
  margin-bottom: 14px;
}

.options__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options__list li {
  position: relative;
  margin: 0 0 21px 40px;
}

.options__list li:last-child{
  margin-bottom: 0;
}

.options__label::before,
.options__label::after{
  content: '';
  display: block;
  position: absolute;
  width: 27px;
  height: 23px;
  top: 0;
  left: -40px;
  background-repeat: no-repeat;
}

.options__label::before {
  background-image: url("../img/checkbox-off.svg");
}

.options__label::after {
  background-image: url("../img/checkbox-on.svg");
  display: none;
}

.option__input:checked + .options__label::after {
  display: block;
}

.option__input:checked + .options__label::before {
  display: none;
}

.option__input:disabled + .options__label::before {
  background-image: url("../img/dsbld_checkbox-off.png");
  display: block;
}


/*----------SLIDER----------*/

.filter-item{
  margin-left: 295px;
}

.range-filter {
  width: 317px;
}

.price-controls {
  margin-bottom: 10px;
  border: 2px solid var(--basic-white);
  height: 36px;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-controls p {
  width: 50%;
  text-align: center;
}

.price-controls::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 22px;
  top: 8px;
  left: 50%;
  background-color: var(--basic-white);
}

.range-controls {
  height: 13px;
  padding-top: 9px;
  background-color: var(transparent);
  margin-bottom: 10px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  padding-left: 15px;
  background-color: rgba(255,255,255,0.3);
}

.scale .bar {
  padding-left: 15px;
  width: 75%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  background-color: var(--toggle-center);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle {
  box-shadow: 0 1px 1px 0 rgba(171, 171, 171 0.3);
}

.range-controls .toggle-max {
  left: 80%;
}

.price-button-wrapper {
  display: flex;
  justify-content: center;
}

.price-button {
  background-color: transparent;
  padding: 8px 30px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white);
}

/*----------SORTING----------*/
.sorting {
  padding:30px 0 0;
  background-color: var(--basic-white);
}

.sorting__container{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 29px;
  padding: 0 73px;
}

 .sorting__result {
  margin: 0;
  text-align: left;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  width: 136px;
  margin-right: 28px;
}

.sorting_method {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);

  margin-right: 40px;;
}

.sorting__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.sorting__link:not([href]) {
  color: var(--main-color);
  border: none;
}
.sorting__link {
  color: var(--opacity-black);
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 33px;
  border-bottom: 1px dotted var(--main-color);
}

.sorting__link:hover {
  color: var(--main-color);
  border-bottom: none;
}

.sorting__link:active {
  color: var(--basic-black);
  border: none;
}

    /*Sorting buttons*/

.sorting-method-buttons{
  margin-left: auto;
}

.sorting-button{
  border: none;
  background-color: transparent;
  padding: 0;
}

.up path {
  fill: var(--opacity-black);
}

.down path {
  fill: var(--main-color);
}

.up path:hover,
.down path:hover {
  fill: var(--basic-black);
}

.up path:active,
.down path:active {
  fill: var(--main-color);
}


/*----------Hotels List----------*/

.result-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.result-item {
  padding: 30px 0;
  border: 1px solid var(--focus-field);
  box-sizing:border-box;
}

.result-wrapper {
    margin: 0;
    padding: 0 73px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.hotel-img{
  width: 135px;
  height: 90px;
  overflow: hidden;
  margin-right: 30px;
}

.result-description {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


.result-title {
  display: block;
  margin: -5px 0 8px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: var(--basic-black);
}
/*----------GRID----------*/
.result-description-block {
  width: 270px;
  display: grid;
  grid-template-columns: 110px auto;
  column-gap: 6px;
}


.result-button-detail {
  background-color: var(--main-color);
}

.result-button {
  display: block;
  color: var(--basic-white);
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 3px 17px;
  color: var(--basic-white);
}


.result-description-block p {
  text-align: left;
  margin: 0 0 13px 0;
  padding:0px;
}

.result-button-booking {
  background-color: var(--basic-dark);
}

.item-descr-rating {
  display: flex;
  flex-flow: column nowrap;
}

.item-descr-rating-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row-reverse nowrap;
}

.item-descr-rating-list li {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 6px;
}

.item-descr-rating-list li:last-child {
  margin-left: 0;
}

.item-descr-rating-text {
  margin: auto 0 0;
  background-color: var(--main-background);
  text-align: center;
  box-sizing: border-box;
  padding: 3px 14px;
  color: var(--dark-rating);
  line-height: 21px;
}

.display-none {
  display: none;
}

.button-link{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

}

.button-link-detail {
  max-width: 110px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--main-color);
}

.button-link-detail:hover {
  background-color: var(--main-color_hover);
}

.button-link-detail:active {
  color: var(--opacity-basic-white);
  background-color: var(--main-color_active);
}

.button-link-detail:focus {
  outline: none;
}



.button-link-reservation{
  max-width: 142px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.button-link-reservation:hover {
  background-color: var(--bacic-dark_hover);
}

.button-link-reservation:active {
  color: var(--opacity-basic-white);
  background-color: var(--basic-dark_active);
}

.button-link-reservation:focus {
  outline: none;
}


.rating-value{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /*font-size: 14px;
  line-height: 21px;*/
  max-width: 110px;
  text-align: center;
  color: var(--dark-rating);
  background-color: var(--main-background);

}

.star__list{
  list-style: none;
}


.star__item {
  display: inline-block;
  background: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 5px;
 }


 /*-----------FOOTER-CATALOG---------*/

.footer-catalog {
  padding: 33px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.8);
}

.contact-wrapper,
.social,
.copyright {
  width: 33.333%;
}

.contact-wrapper {
  display: flex;
}

.contact {
  margin-left: 126px;
}

.contact__hashtag,
.contact__phone {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
}

.contact__hashtag {
  margin: 0 0 12px 0;
}


.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--main-color);
  text-align: center;
  box-sizing: border-box;

}

.social__link:hover {
  background-color: var(--main-color_hover);
}

.social__link:active {
  background-color: var(--main-color_active);
}

.social__link:active path {
  fill: rgba(255,255,255,0.3);
}

.social__twitter{
  padding-top: 16px;
}

.social__facebook{
  padding-top: 13px;
}

.social__youtube {
  padding-top: 16px;
  margin: 0
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright__text {
  margin: 0 8px 0 0;
  padding: 0;
}

.copyright__image {
  margin: 0 138px 0 0;
  padding: 0;
}

.htmla_logo-link:hover path {
  fill: var(--main-color_hover);
}

.htmla_logo-link:active path {
  fill: var(--light-gray);
}
